<div class="navbar">
<nav  mat-tab-nav-bar>
    <a mat-tab-link routerLink="/start">Home</a>
    <a mat-tab-link id="loginNavButton" routerLink="/login">Login</a>
</nav>
</div>
<br>
<br>
<body>
    <p>Welcome to Log's Goods. The site offers a marketplace for antique goods. Please register and sign in for additional functionality</p>
    <mat-list>
        <mat-list-item *ngFor="let item of items"> 
       <!--<a routerLink {{item.name}} -->
       <a (click)="openDialog(item)">{{item.name}}</a>
     
       
     
       
        
        </mat-list-item>
    </mat-list>

</body>
