<div id="register">
    <h2>Register</h2>
  <form [formGroup]="registerForm">
    <div class="registerInput">
        <div class="form-group">
          <mat-form-field id="user" appearance="outline">
            <input matInput formControlName="email" type="email" class="form-control" #username placeholder="Username">
          </mat-form-field>
        </div>
      <br>
      <div class="form-group">
        <mat-form-field id="pass" appearance="outline">
          <input matInput class="form-control" formControlName="password" #password placeholder="Password" [type]="hide ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hide = !hide">{{ hide ? 'visibility_off' : 'visibility'}}
          </mat-icon>
        </mat-form-field>
      </div>
      <br>
      <button mat-raised-button type="submit" (click)="tryRegister(registerForm.value)" class="btn btn-success">Submit</button>
    </div>
  </form>
</div>
