
<div>
    
  <h2 mat-dialog-title>{{data.item.name}}</h2>
  <mat-list>
    <mat-list-item>
      <p class="price" >${{data.item.price}}</p>
   
      <input  class="quantity" appearance="outline" matInput min=1 #quant type="number" value=1>
     

       <button mat-raised-button class="cartButton" (click)="addCart(data.item, quant.value)">Add to Cart</button>
       </mat-list-item>
 </mat-list>
  <label>Description</label>
  <hr>
  <mat-dialog-content>
    {{data.item.descript}}
    <br>
    <br>
 
  </mat-dialog-content>

  <label>Comments</label>
  <hr>
    <mat-dialog-content>
  <mat-list>
      <mat-list-item *ngFor="let num of firstFive"> 
      <div *ngIf="!item.hidden[num]">
     
        <label matLine>{{item.users[num]}}</label>
        <hr matLine>
       
        <h3 matLine>{{item.ratings[num]}} Stars</h3>
        
        <p matLine>Comment: {{item.comments[num]}}</p>
        <a matLine (click)="report(num,item)">Report</a>
        <div *ngIf="data.component.isAdmin">
          <button class="button" mat-raised-button (click)="hideComment(num)">Hide Comment </button>
          <button class="button" mat-raised-button (click)="deleteComment(num)">Delete Comment </button>
        </div>
      </div>
      <div *ngIf="item.hidden[num]">
        <p>User comment has been hidden</p>
        <div *ngIf="data.component.isAdmin">
          <button class="button" mat-raised-button (click)="showComment(num)">Show Comment </button>
            
        </div>
        <br>
      </div>
      </mat-list-item>
    
    </mat-list>
   
    <div *ngIf="!showCommentField">
    <button mat-raised-button (click)="addComment()">Add Comment</button>
    </div>
    <div *ngIf="showCommentField">
       <h3>  
          {{title}}   
        </h3>  
        <a *ngFor="let item of starList; let i=index " (click)="setStar(i)">  
          <i class="fa" [ngClass]="{'fa-star-o':item,'fa-star':!item}"></i>   
         </a>  
        <br>  
        Rating : {{rating}} stars  
        <br>
        <br>
         <mat-form-field appearance="outline">
        <textarea matInput #comment placeholder="Leave a comment"></textarea>
        </mat-form-field>
        <button mat-raised-button (click)="submitComment(comment.value)">Submit Comment</button>
        <br>
    
    </div>
       
  <mat-dialog-actions>
    <button mat-raised-button (click)="onCloseConfirm()">CONFIRM</button>&nbsp;
    <!--<button mat-raised-button (click)="onCloseCancel()">CANCEL</button>-->
  </mat-dialog-actions>
    </mat-dialog-content>
</div>