<nav  mat-tab-nav-bar>
    <a mat-tab-link routerLink="/user">Home</a>
    <a mat-tab-link routerLink="/admin">Admin</a>
    <a mat-tab-link routerLink="/profile">Profile</a>
    <a mat-tab-link id="logoutNavButton" (click)="logout()" routerLink="/start">Logout</a>
</nav>



<div *ngIf="!showMore">
    <mat-list>
        <mat-list-item *ngFor="let item of items"> 
       <!--<a routerLink {{item.name}} -->
       <a (click)="openDialog(item)">{{item.name}}</a>
        </mat-list-item>
    </mat-list>
    <div *ngIf="!(itemArr.length<11)">
    <button mat-button (click) = showOrHide()>Show More</button>
    </div>
    </div>
    
    <div *ngIf="showMore">
    <mat-list>
        <mat-list-item *ngFor="let item of itemArr"> 
       <!--<a routerLink {{item.name}} -->
       <a (click)="openDialog(item)">{{item.name}}</a>
        </mat-list-item>
    </mat-list>
    <div *ngIf="itemArr.length>10">
    <button mat-button (click) = showOrHide()>Hide</button>
    </div>
    </div>
