<nav  mat-tab-nav-bar>
    <a mat-tab-link routerLink="/user">Home</a>
    <div *ngIf="isAdmin">
    <a mat-tab-link routerLink="/admin">Admin</a>
    </div>
    <a mat-tab-link routerLink="/profile">Profile</a>
    <a mat-tab-link routerLink="/cart">Cart</a>
    <a mat-tab-link id="logoutNavButton" (click)="logout()" routerLink="/start">Logout</a>
</nav>


<h2>Catalog </h2>
<div *ngIf="!showMore">
    <mat-list>
        <mat-list-item>
            <p class="name">Name</p>
             <p class="price">Price</p>
            <p class="quantity">Quantity</p>
           
        </mat-list-item>
        <mat-list-item *ngFor="let item of items"> 
       <!--<a routerLink {{item.name}} -->
       <a class="name" (click)="openDialog(item)">{{item.name}}</a>
        <p class="price" >${{item.price}}</p>
        <p class="quantityRem">{{item.quantity}}</p>
       <input class="quantity" matInput #quant type='number' value=1>
       
       <button mat-raised-button class="cartButton" (click)="addCart(item, quant.value)">Add to Cart</button>
        </mat-list-item>
    </mat-list>
    <div *ngIf="!(itemArr.length<11)">
    <button mat-button (click) = showOrHide()>Show More</button>
    </div>
    </div>
    
    <div *ngIf="showMore">
    <mat-list>
        <mat-list-item *ngFor="let item of itemArr"> 
       <!--<a routerLink {{item.name}} -->
       <a (click)="openDialog(item)">{{item.name}}</a>
        </mat-list-item>
    </mat-list>
    <div *ngIf="itemArr.length>10">
    <button mat-button (click) = showOrHide()>Hide</button>
    </div>
    </div>
    
   
