<nav  mat-tab-nav-bar>
    <a mat-tab-link routerLink="/user">Home</a>
    <div *ngIf="isAdmin">
    <a mat-tab-link routerLink="/admin">Admin</a>
    </div>
    <a mat-tab-link routerLink="/profile">Profile</a>
    <a mat-tab-link routerLink="/cart">Cart</a>
    <a mat-tab-link id="logoutNavButton" (click)="logout()" routerLink="/start">Logout</a>
</nav>

<h2>Public Lists</h2>
 <mat-form-field class="collections">
         
          <mat-select  class="collectionSel"> 
              
            <mat-option class="collectionOption" *ngFor="let user of usersData; let i = index" (click)="openCollection(i)" >
                {{user.data().displayName}} {{collectionProperties[i].data().name}}
            </mat-option>
           
            
          </mat-select>
        </mat-form-field>
        <div *ngIf="publicViewList">
            <label>Owner: {{listOwner}}</label>
            <br>
            <label>Title: {{listName}}</label>
            <br>
            <label>Description: {{listDescription}}</label>
            <mat-list>
                <mat-list-item>
            <p class="name">Name</p>
             <p class="price">Price</p>
            <p class="quantity">Quantity</p>
            </mat-list-item>
            <mat-list-item *ngFor="let item of publicItems"> 
           <p class="name" >{{item.name}}</p>
            <p class="price" >${{item.price}}</p>
            <p class="quantityRem">{{item.quantity}}</p>
        </mat-list-item>
            </mat-list>
        </div>


<h2>Catalog </h2>
<div *ngIf="!showMore">
    <mat-list>
        <mat-list-item>
            <p class="name">Name</p>
             <p class="price">Price</p>
            <p class="quantity">Quantity</p>
           
        </mat-list-item>
        <mat-list-item *ngFor="let item of items; let i=index"> 
        <div *ngIf="item.quantity>0">
  <mat-list-item>
       <a class="name" (click)="openDialog(item,i)">{{item.name}}</a>
        <p class="price" >${{item.price}}</p>
        <p class="quantityRem">{{item.quantity}}</p>
        
       <input class="quantity" appearance="outline" matInput #quant type='number' min=1 value=1>
     
       <button mat-raised-button class="cartButton" (click)="addCart(item, quant.value)">Add to Cart</button>
       <div *ngIf="collectionCreate">
       <button mat-raised-button class="cartButton" (click)="addToCollection(item, quant.value)">Add to Collection</button>
       </div>
       </mat-list-item>
       </div>
        </mat-list-item>
    </mat-list>
    <div *ngIf="!(itemArr.length<11)">
    <button mat-button (click) = showOrHide()>Show More</button>
    </div>
    </div>
    
    <div *ngIf="showMore">
    <mat-list>
        <div *ngIf="item.quantity>0">
        <mat-list-item *ngFor="let item of itemArr"> 
       <!--<a routerLink {{item.name}} -->
       <a (click)="openDialog(item)">{{item.name}}</a>
       <p class="price" >${{item.price}}</p>
        <p class="quantityRem">{{item.quantity}}</p>
       
       <input class="quantity" appearance="outline" matInput #quant type='number' min=1 value=1>
     
       
       <button mat-raised-button class="cartButton" (click)="addCart(item, quant.value)">Add to Cart</button>
       <div *ngIf="collectionCreate">
       <button mat-raised-button class="cartButton" (click)="addToCollection(item, quant.value)">Add to Collection</button>
       </div>
        </mat-list-item>
        </div>
    </mat-list>
    <div *ngIf="itemArr.length>10">
    <button mat-button (click) = showOrHide()>Hide</button>
    </div>
    </div>
    <button mat-raised-button class="button" (click)=createCollection()>Create Collection</button>
    
    <div *ngIf="collectionCreate">
        <mat-form-field  appearance="outline">
        <input class="collectionInput" matInput #colName placeholder="Collection Name" type='text'>
         </mat-form-field>
           <mat-form-field appearance="outline">
        <textarea type="text" class="collectionInput" matInput #colDesc placeholder="Collection Description"></textarea>
        </mat-form-field>
        <mat-slide-toggle
            [(ngModel)]="setPublic">
            Set Public
            </mat-slide-toggle>
        <mat-list>
     
        <mat-list-item *ngFor="let item of collectionItems"> 
     
       <p>{{item.name}}</p>
       <p class="price" >${{item.price}}</p>
    
       <input class="quantity" appearance="outline" matInput #colQuant type='number' min=1 [(ngModel)]="item.quantity">
   
       <button mat-raised-button class="button" (click)="removeItem(item)">Remove Item</button>
       </mat-list-item>
        
    </mat-list>
    <button mat-raised-button class="button" (click)="addCollection(colName.value,colDesc.value,setPublic)">Add Collection</button>
   
            
    </div>
    
   
