<nav  mat-tab-nav-bar>
    <a mat-tab-link routerLink="/user">Home</a>
    <a mat-tab-link routerLink="/admin">Admin</a>
    <a mat-tab-link routerLink="/cart">Cart</a>
    <a mat-tab-link id="logoutNavButton" (click)="logout()" routerLink="/start">Logout</a>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top image" [src]="user.image" alt="Card image cap">
     
        <div *ngIf='user.provider == "password"' class="card-body">
          <form [formGroup]="profileForm">
            <div class="form-group">
              <label>Set display name </label>
              <input type="text" formControlName="name" class="form-control" required>
            </div>
          </form>
          <button (click)="save(profileForm.value)" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>

